* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #333230;
}

.container {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  line-height: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}

.nadpis {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400px;
  padding: 1.5rem;
}

.topnav {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: right;
}

.topnav a {
  display: block;
  padding: 10px 15px;
  color: #E55670;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #6F6868;
}

.vlakno {
  max-width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-pink {
  color: #E55670
}
